@import "compass/css3/font-face"; 
@import "compass/css3/images";

@include font-face("Thirsty", font-files("thirsty/ThirstyScriptLight.otf"), false, 400);  
@include font-face("Thirsty", font-files("thirsty/ThirstyScriptBold.otf"), false, 600);  
@include font-face("Thirsty", font-files("thirsty/ThirstyScriptBlack.otf"), false, 800);  

@include font-face("Avenir", font-files("avenir/next/pro/AvenirNextLTPro-Regular.otf"), false, 400);  
@include font-face("Avenir", font-files("avenir/next/pro/AvenirNextLTPro-Medium.otf"), false, 600);  
@include font-face("Avenir", font-files("avenir/next/pro/AvenirNextLTPro-Bold.otf"), false, 800);  


$thirsty: "Thirsty";
$avenir: "Avenir", sans-serif;


$base-font-family: $avenir;
$base-font-size:   16px;
$base-line-height: 24px;


$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;


$base-bg: image-url("bgs/home-bg.jpg");




$amf-red:#ec0e27;
$amf-yellow:#e6a800;
$amf-blue:#384a85;
$lt-blue:#6bd3ec;

$heading-red:#d12d28;
$white: #fff;
$lt_grey:#e6e6e6;
$grey: #b2b2b2;
$md_grey: #333333;
$dark_grey: #1a1a1a;


$max-width: 1400px;
$tab-break: 768px;
