/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
@font-face {
  font-family: "Thirsty";
  src: url('../../fonts/thirsty/ThirstyScriptLight.otf?1438755021') format('opentype');
  font-weight: 400; }
@font-face {
  font-family: "Thirsty";
  src: url('../../fonts/thirsty/ThirstyScriptBold.otf?1438755021') format('opentype');
  font-weight: 600; }
@font-face {
  font-family: "Thirsty";
  src: url('../../fonts/thirsty/ThirstyScriptBlack.otf?1438755021') format('opentype');
  font-weight: 800; }
@font-face {
  font-family: "Avenir";
  src: url('../../fonts/avenir/next/pro/AvenirNextLTPro-Regular.otf?1438755021') format('opentype');
  font-weight: 400; }
@font-face {
  font-family: "Avenir";
  src: url('../../fonts/avenir/next/pro/AvenirNextLTPro-Medium.otf?1438755021') format('opentype');
  font-weight: 600; }
@font-face {
  font-family: "Avenir";
  src: url('../../fonts/avenir/next/pro/AvenirNextLTPro-Bold.otf?1438755021') format('opentype');
  font-weight: 800; }
/**
 * @file
 * Normalize.css is intended to be used as an alternative to CSS resets.
 *
 * This file is a slight fork of these original sources:
 * - normalize.css v2.1.2 | MIT License | git.io/normalize
 * - normalize.scss v2.1.2 | MIT/GPLv2 License | bit.ly/normalize-with-compass
 *
 * It's suggested that you read the normalize.scss file and customise it to meet
 * your needs, rather then including the file in your project and overriding the
 * defaults later in your CSS.
 * @see http://nicolasgallagher.com/about-normalize-css/
 *
 * Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 *       @see http://snook.ca/archives/html_and_css/no_css_reset/
 */
/**
 * HTML5 display definitions
 */
@font-face {
  font-family: "Thirsty";
  src: url('../../fonts/thirsty/ThirstyScriptLight.otf?1438755021') format('opentype');
  font-weight: 400; }
@font-face {
  font-family: "Thirsty";
  src: url('../../fonts/thirsty/ThirstyScriptBold.otf?1438755021') format('opentype');
  font-weight: 600; }
@font-face {
  font-family: "Thirsty";
  src: url('../../fonts/thirsty/ThirstyScriptBlack.otf?1438755021') format('opentype');
  font-weight: 800; }
@font-face {
  font-family: "Avenir";
  src: url('../../fonts/avenir/next/pro/AvenirNextLTPro-Regular.otf?1438755021') format('opentype');
  font-weight: 400; }
@font-face {
  font-family: "Avenir";
  src: url('../../fonts/avenir/next/pro/AvenirNextLTPro-Medium.otf?1438755021') format('opentype');
  font-weight: 600; }
@font-face {
  font-family: "Avenir";
  src: url('../../fonts/avenir/next/pro/AvenirNextLTPro-Bold.otf?1438755021') format('opentype');
  font-weight: 800; }
/* line 24, ../../sass/normalize.scss */
* {
  box-sizing: border-box;
  line-height: 1; }

/* line 28, ../../sass/normalize.scss */
.desktop {
  display: block !important; }

/* line 31, ../../sass/normalize.scss */
.mobile {
  display: none !important; }

/* line 33, ../../sass/normalize.scss */
a {
  cursor: pointer; }

/* line 37, ../../sass/normalize.scss */
.sprite, .nav-menu #main-menu li.last:before, .logoimg, .front-page .header .down-arrow, .front-page .header .location-form .loc-btn .icn, .darrow .white, .darrow .black, .greybg .container .left .roll-social .icons div, .footer .top .left li:after {
  background: url('../../images/image-sprite.png?1438979608');
  background-repeat: no-repeat; }

/* line 42, ../../sass/normalize.scss */
.thirsty {
  font-family: "Thirsty"; }

/* line 46, ../../sass/normalize.scss */
.basefont, body, a {
  font-family: "Avenir", sans-serif;
  line-height: 24px;
  font-size: 16px; }

/* line 51, ../../sass/normalize.scss */
.rel {
  position: relative; }

/* line 52, ../../sass/normalize.scss */
.mauto, .container, .aligncenter {
  margin: auto;
  width: 100%; }

/* line 57, ../../sass/normalize.scss */
body {
  margin: 0;
  background-color: #000;
  color: #fff; }

/* line 64, ../../sass/normalize.scss */
#page {
  background: url('../../images/bgs/home-bg.jpg?1438755021');
  background-size: cover;
  height: 1000px;
  position: relative; }

/* line 70, ../../sass/normalize.scss */
.container {
  max-width: 1400px; }

/* line 75, ../../sass/normalize.scss */
a {
  color: #ec0e27; }

/* line 81, ../../sass/normalize.scss */
nav ul {
  margin: 0;
  padding: 0; }
  /* line 84, ../../sass/normalize.scss */
  nav ul li {
    list-style: none;
    display: inline-block; }
    /* line 87, ../../sass/normalize.scss */
    nav ul li a {
      text-decoration: none; }

/* line 95, ../../sass/normalize.scss */
.inblock, .nav-menu #main-menu li.last:before, .greybg .container .left .pin-logo, .greybg .container .left .pinform .text, .greybg .container .left .pinform form input[type='text'], .greybg .container .left .pinform form input[type='submit'], .greybg .container .left .roll-social, .greybg .container .left .roll-social .icons, .footer .top .left li:after, .footer .bottom .left, .footer .bottom .right {
  display: inline-block; }

/* line 98, ../../sass/normalize.scss */
.block {
  display: block; }

/* line 101, ../../sass/normalize.scss */
.alignleft, #slide li .left, .greybg .container .left .pin-logo, .greybg .container .left .pinform .text, .greybg .container .left .pinform form input[type='text'], .greybg .container .left .pinform form input[type='submit'], .greybg .container .left .roll-social .text, .greybg .container .left .roll-social .icons div, .footer .top .left {
  float: left; }

/* line 105, ../../sass/normalize.scss */
.aligncenter {
  text-align: center; }

/* line 110, ../../sass/normalize.scss */
.alignright, #slide li .right, .footer .top .right, .footer .bottom .right {
  float: right; }

/* line 114, ../../sass/normalize.scss */
.nav-menu {
  height: 172px; }
  /* line 116, ../../sass/normalize.scss */
  .nav-menu #main-menu {
    margin-top: -40px; }
    /* line 118, ../../sass/normalize.scss */
    .nav-menu #main-menu li {
      font-weight: 800;
      vertical-align: middle; }
      /* line 121, ../../sass/normalize.scss */
      .nav-menu #main-menu li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: .1em; }
        /* line 127, ../../sass/normalize.scss */
        .nav-menu #main-menu li a:hover {
          color: #e6a800;
          text-decoration: underline; }
      /* line 133, ../../sass/normalize.scss */
      .nav-menu #main-menu li:not(.logo):not(.last) {
        padding-right: 30px; }
        /* line 135, ../../sass/normalize.scss */
        .nav-menu #main-menu li:not(.logo):not(.last):not(.first) {
          padding-left: 30px; }
      /* line 142, ../../sass/normalize.scss */
      .nav-menu #main-menu li.last:before {
        content: '';
        padding: 0 5px 0 0;
        height: 28px;
        width: 22px;
        margin-top: -4px;
        float: left;
        background-position: -569px 0; }
      /* line 156, ../../sass/normalize.scss */
      .nav-menu #main-menu li.logo {
        padding: 0 37px; }

/* line 164, ../../sass/normalize.scss */
.logoimg {
  text-indent: -999999px;
  height: 40px;
  margin: 0 7px; }
  /* line 169, ../../sass/normalize.scss */
  .logoimg.BowlmorAMF {
    width: 72px;
    background-position: -16px 0; }
  /* line 172, ../../sass/normalize.scss */
  .logoimg.BowlmorLanes {
    width: 109px;
    background-position: -88px 0; }
  /* line 175, ../../sass/normalize.scss */
  .logoimg.Bowlero {
    width: 58px;
    background-position: -213px 0; }
  /* line 178, ../../sass/normalize.scss */
  .logoimg.Brunswicks {
    width: 75px;
    background-position: -287px 0; }
  /* line 181, ../../sass/normalize.scss */
  .logoimg.BrunswickZone {
    width: 82px;
    background-position: -378px 0; }
  /* line 184, ../../sass/normalize.scss */
  .logoimg.AMF {
    width: 45px;
    background-position: -475px 0; }

/* line 190, ../../sass/normalize.scss */
#supernav {
  width: 100%; }
  /* line 192, ../../sass/normalize.scss */
  #supernav .thirsty {
    text-transform: none; }

/* line 196, ../../sass/normalize.scss */
#supernav li,
.footer li {
  margin: 0 7px; }
  /* line 199, ../../sass/normalize.scss */
  #supernav li a,
  .footer li a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #b2b2b2; }

/* line 209, ../../sass/normalize.scss */
.front-page .header {
  width: 50%;
  text-align: center;
  margin: auto; }
  /* line 213, ../../sass/normalize.scss */
  .front-page .header h1 {
    font-size: 90px;
    text-shadow: 6px 0 20px rgba(0, 0, 0, 0.5); }
  /* line 217, ../../sass/normalize.scss */
  .front-page .header .down-arrow {
    background-position: -630px 0;
    width: 13px;
    height: 27px;
    margin: auto; }
  /* line 224, ../../sass/normalize.scss */
  .front-page .header .subtext {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px; }
  /* line 230, ../../sass/normalize.scss */
  .front-page .header .location-form {
    display: block; }
    /* line 232, ../../sass/normalize.scss */
    .front-page .header .location-form .form-inputs {
      background: #e6e6e6;
      padding: 10px;
      border-radius: 3px;
      overflow: hidden; }
      /* line 237, ../../sass/normalize.scss */
      .front-page .header .location-form .form-inputs div, .front-page .header .location-form .form-inputs span {
        display: inline-block;
        float: left; }
      /* line 241, ../../sass/normalize.scss */
      .front-page .header .location-form .form-inputs .left {
        width: 54%; }
      /* line 242, ../../sass/normalize.scss */
      .front-page .header .location-form .form-inputs input[type="text"] {
        border: 1px solid #b2b2b2;
        border-radius: 3px;
        padding: 20px 23px;
        color: #b2b2b2;
        width: 100%;
        font-size: 18px;
        font-style: italic; }
      /* line 251, ../../sass/normalize.scss */
      .front-page .header .location-form .form-inputs .or {
        color: #000;
        font-size: 24px;
        padding: 15px;
        font-weight: bold; }
      /* line 257, ../../sass/normalize.scss */
      .front-page .header .location-form .form-inputs .use-loc {
        background: #cfcfcf;
        padding: 20px 13px;
        border-radius: 3px;
        color: #000;
        font-size: 18px; }
    /* line 265, ../../sass/normalize.scss */
    .front-page .header .location-form .loc-btn {
      background: #e6a800;
      padding: 22px;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      width: 316px;
      margin: 20px auto;
      border-radius: 3px; }
      /* line 275, ../../sass/normalize.scss */
      .front-page .header .location-form .loc-btn .icn {
        background-position: -594px 1px;
        content: "";
        float: left;
        height: 30px;
        width: 25px;
        margin-top: -3px;
        margin-left: 20px; }

/* line 290, ../../sass/normalize.scss */
.specials-slider {
  width: 100%;
  background: rgba(0, 0, 0, 0.3); }

/* line 294, ../../sass/normalize.scss */
.slider {
  overflow: hidden;
  position: relative; }
  /* line 297, ../../sass/normalize.scss */
  .slider div, .slider ul, .slider li, .slider img {
    border: 0;
    margin: 0;
    padding: 0; }

/* line 305, ../../sass/normalize.scss */
#slide {
  height: 255px;
  width: 100%;
  max-width: 768px; }
  /* line 309, ../../sass/normalize.scss */
  #slide ul {
    width: 100%;
    /* doubled slide outer width (include padding/margin) / triple if use offset */ }
  /* line 312, ../../sass/normalize.scss */
  #slide li {
    display: block;
    float: left;
    background: #fff;
    border-radius: 3px;
    padding: 5px;
    color: #000;
    width: 100%; }
    /* line 320, ../../sass/normalize.scss */
    #slide li .left, #slide li .right {
      width: 45%;
      margin: 2.5%; }

/* line 334, ../../sass/normalize.scss */
.slide_thumbnails {
  height: 34px;
  margin: 10px 0;
  overflow: hidden;
  width: 100%;
  max-width: 768px; }
  /* line 341, ../../sass/normalize.scss */
  .slide_thumbnails li {
    border: solid 1px transparent;
    float: left;
    height: 26px;
    margin-right: 4px;
    padding: 3px; }
    /* line 348, ../../sass/normalize.scss */
    .slide_thumbnails li.active {
      border: solid 1px #ff0000; }

/* line 354, ../../sass/normalize.scss */
div, ul, li, img {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 361, ../../sass/normalize.scss */
.darrow {
  padding: 17px 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 55px;
  height: 57px;
  position: absolute;
  left: 48%;
  bottom: 0; }
  /* line 369, ../../sass/normalize.scss */
  .darrow .white, .darrow .black {
    width: 15px;
    height: 23px;
    background-position: -645px 0; }
  /* line 375, ../../sass/normalize.scss */
  .darrow .black {
    background-position: -657px 0; }

/* line 380, ../../sass/normalize.scss */
.wood {
  position: relative;
  min-height: 1000px;
  background: url('../../images/woodgrain.jpg?1438978779');
  background-size: cover; }

/* line 387, ../../sass/normalize.scss */
.homequote {
  text-align: center;
  letter-spacing: 2px;
  height: 446px;
  background: #521a6e;
  color: #FFF;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2;
  background: url('../../images/quotebg.jpg?1438980864');
  background-size: cover; }
  /* line 399, ../../sass/normalize.scss */
  .homequote .text {
    padding: 160px 100px;
    height: 450px;
    background: url('../../images/brackets2.png?1438981557');
    background-position: center;
    background-repeat: no-repeat; }
  /* line 406, ../../sass/normalize.scss */
  .homequote .thirsty {
    display: block;
    text-transform: none;
    font-size: 60px;
    font-weight: 600; }

/* line 414, ../../sass/normalize.scss */
.greybg {
  background: #1a1a1a; }
  /* line 416, ../../sass/normalize.scss */
  .greybg .container {
    box-sizing: border-box;
    overflow: hidden;
    padding: 25px 7px; }
    /* line 425, ../../sass/normalize.scss */
    .greybg .container .left .pinform {
      padding: 23px 0; }
      /* line 427, ../../sass/normalize.scss */
      .greybg .container .left .pinform .text {
        width: 240px;
        padding: 0 10px; }
        /* line 432, ../../sass/normalize.scss */
        .greybg .container .left .pinform .text a {
          color: #6bd3ec;
          text-transform: uppercase;
          text-decoration: underline; }
      /* line 439, ../../sass/normalize.scss */
      .greybg .container .left .pinform form input[type='text'] {
        width: 241px;
        background: #333333;
        color: #b2b2b2;
        border: none;
        border-radius: 3px 0 0 3px;
        padding: 12px 25px;
        font-size: 20px;
        font-style: italic;
        font-weight: 500; }
      /* line 452, ../../sass/normalize.scss */
      .greybg .container .left .pinform form input[type='submit'] {
        background: #384a85;
        padding: 13.5px 25px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 16px;
        border: none;
        border-radius: 3px;
        margin: 0 -5px -5px;
        width: 185px; }
    /* line 469, ../../sass/normalize.scss */
    .greybg .container .left .roll-social {
      float: right;
      margin-top: -25px; }
      /* line 473, ../../sass/normalize.scss */
      .greybg .container .left .roll-social .text {
        font-weight: 600;
        padding: 15px 10px;
        font-size3: 24px; }
      /* line 481, ../../sass/normalize.scss */
      .greybg .container .left .roll-social .icons div {
        -webkit-transition: -webkit-transform .4s ease-in;
        transition: transform .4s ease-in;
        width: 63px;
        height: 61px; }
        /* line 488, ../../sass/normalize.scss */
        .greybg .container .left .roll-social .icons div:hover {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }
        /* line 490, ../../sass/normalize.scss */
        .greybg .container .left .roll-social .icons div.fb {
          background-position: 0 -50px; }
        /* line 491, ../../sass/normalize.scss */
        .greybg .container .left .roll-social .icons div.twitter {
          background-position: -63px -50px; }
        /* line 492, ../../sass/normalize.scss */
        .greybg .container .left .roll-social .icons div.yt {
          background-position: -126px -50px; }
        /* line 493, ../../sass/normalize.scss */
        .greybg .container .left .roll-social .icons div.insta {
          background-position: -189px -50px; }

/* line 503, ../../sass/normalize.scss */
.bottom-wrap {
  background: #000;
  height: 150px;
  padding-top: 53px; }

/* line 509, ../../sass/normalize.scss */
.footer {
  font-family: "Avenir", sans-serif; }
  /* line 511, ../../sass/normalize.scss */
  .footer .top {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 72px; }
    /* line 515, ../../sass/normalize.scss */
    .footer .top .viewall {
      display: none; }
    /* line 516, ../../sass/normalize.scss */
    .footer .top nav {
      padding: 24px 0;
      height: 24px; }
    /* line 520, ../../sass/normalize.scss */
    .footer .top .left {
      width: 50%;
      border-right: 1px solid rgba(255, 255, 255, 0.15); }
      /* line 524, ../../sass/normalize.scss */
      .footer .top .left li {
        font-weight: 700;
        font-size: 13px; }
        /* line 527, ../../sass/normalize.scss */
        .footer .top .left li:after {
          width: 26px;
          height: 9px;
          content: '';
          background-position: -530px 0; }
    /* line 537, ../../sass/normalize.scss */
    .footer .top .right {
      width: 48%;
      text-align: right; }
  /* line 544, ../../sass/normalize.scss */
  .footer .bottom {
    padding: 24px 0;
    font-family: "Avenir", sans-serif;
    font-size: 12px; }
    /* line 548, ../../sass/normalize.scss */
    .footer .bottom .left {
      width: 50%; }
    /* line 552, ../../sass/normalize.scss */
    .footer .bottom .right {
      width: 48%;
      text-align: right; }

/*small desktop*/
@media all and (min-width: 1024px) and (max-width: 1400px) {
  /* line 20, ../../sass/layouts/responsive.scss */
  .nav-menu #main-menu li a {
    font-size: 1em; }
  /* line 24, ../../sass/layouts/responsive.scss */
  .nav-menu #main-menu li:not(.logo):not(.last) {
    padding-right: 2%; }
    /* line 26, ../../sass/layouts/responsive.scss */
    .nav-menu #main-menu li:not(.logo):not(.last):not(.first) {
      padding-left: 1%; }
  /* line 31, ../../sass/layouts/responsive.scss */
  .nav-menu #main-menu li.logo {
    padding: 0; }

  /* line 38, ../../sass/layouts/responsive.scss */
  .front-page .header {
    min-width: 690px; }

  /* line 50, ../../sass/layouts/responsive.scss */
  .greybg .container .left .roll-social {
    clear: both;
    float: none;
    display: block;
    width: 100%;
    text-align: center; }
  /* line 57, ../../sass/layouts/responsive.scss */
  .greybg .container .left .roll-social .text {
    float: none; }
  /* line 60, ../../sass/layouts/responsive.scss */
  .greybg .container .left .pinsider {
    float: none;
    display: block;
    width: 100%; } }
@media all and (max-width: 1023px) {
  /* line 70, ../../sass/layouts/responsive.scss */
  .container {
    max-width: 1023px;
    padding: 0 10px;
    box-sizing: border-box; }

  /* line 75, ../../sass/layouts/responsive.scss */
  .desktop {
    display: none !important; }

  /* line 76, ../../sass/layouts/responsive.scss */
  .mobile {
    display: block !important; }

  /* line 79, ../../sass/layouts/responsive.scss */
  .mobile-btns {
    padding: 20px 0;
    text-align: right; }

  /* line 83, ../../sass/layouts/responsive.scss */
  .locations {
    background: url('../../images/image-sprite.png?1438979608');
    background-repeat: no-repeat;
    background-color: #e6a800;
    background-position: -582px 13px;
    padding: 12px 20px 19px;
    padding: 11px;
    font-size: 0;
    display: inline-block;
    width: 50px;
    float: right;
    height: 52px;
    margin: 0 10px; }

  /* line 97, ../../sass/layouts/responsive.scss */
  .mobile-nav {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99; }

  /* line 103, ../../sass/layouts/responsive.scss */
  .menu {
    position: relative;
    display: inline-block; }
    /* line 106, ../../sass/layouts/responsive.scss */
    .menu .menu-btn {
      display: inline-block;
      padding: 11px;
      width: 50px;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      background-color: #ec0e27;
      float: right; }
      /* line 114, ../../sass/layouts/responsive.scss */
      .menu .menu-btn span {
        display: block;
        width: 26px;
        height: 3px;
        margin: 5px 0;
        background: #fff;
        z-index: 99; }
    /* line 123, ../../sass/layouts/responsive.scss */
    .menu .arrow {
      display: none; }
    /* line 127, ../../sass/layouts/responsive.scss */
    .menu.active .arrow {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 5.5px 0 5.5px;
      border-color: #ec0e28 transparent transparent transparent;
      position: absolute;
      bottom: -13px;
      left: 40%; }

  /* line 144, ../../sass/layouts/responsive.scss */
  .responsive-menu {
    display: none;
    position: relative;
    z-index: 9999;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.5); }
    /* line 152, ../../sass/layouts/responsive.scss */
    .responsive-menu ul {
      list-style: none;
      padding: 0; }
      /* line 155, ../../sass/layouts/responsive.scss */
      .responsive-menu ul a {
        text-transform: uppercase;
        color: #000;
        font-family: "Avenir", sans-serif;
        font-weight: 500;
        text-decoration: none; }
        /* line 161, ../../sass/layouts/responsive.scss */
        .responsive-menu ul a li {
          font-weight: 700;
          padding: 10px 20px;
          border-top: 1px solid #dcdcdc;
          background: none repeat scroll 0 0 #f5f5f5; }
          /* line 166, ../../sass/layouts/responsive.scss */
          .responsive-menu ul a li.bottom {
            text-align: left;
            color: #fff;
            background: #000;
            border-top: 1px solid #1a1a1a;
            margin-top: 0;
            font-weight: 500; }
          /* line 174, ../../sass/layouts/responsive.scss */
          .responsive-menu ul a li .thirsty {
            text-transform: none; }
        /* line 178, ../../sass/layouts/responsive.scss */
        .responsive-menu ul a .navarrow,
        .responsive-menu ul a .navicon {
          background: url('../../images/image-sprite.png?1438979608');
          background-repeat: no-repeat;
          background-position: -530px -20px;
          display: inline-block;
          float: right;
          height: 14px;
          margin-right: 25px;
          margin-top: -31px;
          width: 30px; }
        /* line 190, ../../sass/layouts/responsive.scss */
        .responsive-menu ul a.yellow {
          color: #fff; }
          /* line 192, ../../sass/layouts/responsive.scss */
          .responsive-menu ul a.yellow li {
            background-color: #e6a800;
            border-color: #e6a800; }
          /* line 196, ../../sass/layouts/responsive.scss */
          .responsive-menu ul a.yellow .navarrow,
          .responsive-menu ul a.yellow .navicon {
            background-position: -530px -10px;
            height: 14px;
            width: 30px; }
        /* line 203, ../../sass/layouts/responsive.scss */
        .responsive-menu ul a.black {
          color: #b2b2b2; }
          /* line 205, ../../sass/layouts/responsive.scss */
          .responsive-menu ul a.black li {
            background-color: #000;
            border-top: 1px solid #000; }
          /* line 209, ../../sass/layouts/responsive.scss */
          .responsive-menu ul a.black .navarrow,
          .responsive-menu ul a.black .navicon {
            background-position: -530px 0px;
            height: 9px;
            width: 30px; }

  /* line 219, ../../sass/layouts/responsive.scss */
  .expand {
    display: block !important; }

  /* line 223, ../../sass/layouts/responsive.scss */
  .front-page .header {
    width: 100%; }
    /* line 227, ../../sass/layouts/responsive.scss */
    .front-page .header .location-form .form-inputs .left,
    .front-page .header .location-form .form-inputs .use-loc {
      width: 100%; }
    /* line 231, ../../sass/layouts/responsive.scss */
    .front-page .header .location-form .form-inputs .or {
      float: none;
      text-align: center; }

  /* line 241, ../../sass/layouts/responsive.scss */
  .homequote .text {
    line-height: 1.2;
    padding: 95px 50px;
    background-image: none; }

  /* line 250, ../../sass/layouts/responsive.scss */
  .greybg .container {
    text-align: center; }
    /* line 253, ../../sass/layouts/responsive.scss */
    .greybg .container .left .pin-logo {
      display: block;
      float: none; }
    /* line 257, ../../sass/layouts/responsive.scss */
    .greybg .container .left .pinform {
      width: 100%;
      display: block;
      height: 95px; }
      /* line 261, ../../sass/layouts/responsive.scss */
      .greybg .container .left .pinform .text,
      .greybg .container .left .pinform form {
        display: block;
        float: none;
        width: 100%; }
      /* line 267, ../../sass/layouts/responsive.scss */
      .greybg .container .left .pinform form {
        margin: auto;
        margin: 10px auto auto; }
        /* line 270, ../../sass/layouts/responsive.scss */
        .greybg .container .left .pinform form input[type="text"] {
          width: 65%;
          padding: 12px;
          font-size: 14px; }
        /* line 275, ../../sass/layouts/responsive.scss */
        .greybg .container .left .pinform form input[type="submit"] {
          width: 27%;
          padding: 9.5px; }
      /* line 281, ../../sass/layouts/responsive.scss */
      .greybg .container .left .pinform .text {
        text-align: left; }
    /* line 285, ../../sass/layouts/responsive.scss */
    .greybg .container .left .roll-social {
      width: 100%;
      float: none;
      display: block;
      margin-top: 0px;
      clear: both; }
      /* line 291, ../../sass/layouts/responsive.scss */
      .greybg .container .left .roll-social .text {
        width: 100%;
        float: none;
        display: block;
        font-size: 24px; }
      /* line 297, ../../sass/layouts/responsive.scss */
      .greybg .container .left .roll-social .icons {
        float: none;
        display: inline-block; }

  /* line 312, ../../sass/layouts/responsive.scss */
  .footer .top .viewall {
    display: block;
    padding: 20px 0;
    color: #b2b2b2;
    text-transform: uppercase;
    text-decoration: none; }
  /* line 319, ../../sass/layouts/responsive.scss */
  .footer .top nav {
    display: none;
    height: auto; }
  /* line 324, ../../sass/layouts/responsive.scss */
  .footer .top.active nav {
    display: block; }
  /* line 328, ../../sass/layouts/responsive.scss */
  .footer .top .right {
    text-align: left; }
  /* line 331, ../../sass/layouts/responsive.scss */
  .footer .top .left, .footer .top .right {
    width: 100%;
    border: none; }
    /* line 335, ../../sass/layouts/responsive.scss */
    .footer .top .left ul li, .footer .top .right ul li {
      margin: 0;
      width: 100%;
      padding: 10px 0 0 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
      /* line 340, ../../sass/layouts/responsive.scss */
      .footer .top .left ul li a, .footer .top .right ul li a {
        display: inline-block;
        width: 90%; }
      /* line 344, ../../sass/layouts/responsive.scss */
      .footer .top .left ul li span, .footer .top .right ul li span {
        content: '';
        background: url('../../images/image-sprite.png?1438979608');
        background-repeat: no-repeat;
        background-position: -530px 0px;
        height: 9px;
        width: 25px;
        display: inline-block; }
      /* line 353, ../../sass/layouts/responsive.scss */
      .footer .top .left ul li:after, .footer .top .right ul li:after {
        background: none; }
  /* line 360, ../../sass/layouts/responsive.scss */
  .footer .bottom {
    text-align: center; }
    /* line 362, ../../sass/layouts/responsive.scss */
    .footer .bottom .left {
      display: block;
      width: 100%; }
      /* line 366, ../../sass/layouts/responsive.scss */
      .footer .bottom .left ul a {
        height: auto; }
        /* line 368, ../../sass/layouts/responsive.scss */
        .footer .bottom .left ul a:first-child {
          display: block; }
    /* line 374, ../../sass/layouts/responsive.scss */
    .footer .bottom .right {
      margin-top: 10px;
      display: block;
      width: 100%;
      text-align: center; } }
@media all and (max-width: 480px) {
  /* line 388, ../../sass/layouts/responsive.scss */
  .homequote .text {
    padding: 50px; } }
