@font-face {
  font-family: "Thirsty";
  src: url('../fonts/thirsty/ThirstyScriptLight.otf?1438755021') format('opentype');
  font-weight: 400; }
@font-face {
  font-family: "Thirsty";
  src: url('../fonts/thirsty/ThirstyScriptBold.otf?1438755021') format('opentype');
  font-weight: 600; }
@font-face {
  font-family: "Thirsty";
  src: url('../fonts/thirsty/ThirstyScriptBlack.otf?1438755021') format('opentype');
  font-weight: 800; }
@font-face {
  font-family: "Avenir";
  src: url('../fonts/avenir/next/pro/AvenirNextLTPro-Regular.otf?1438755021') format('opentype');
  font-weight: 400; }
@font-face {
  font-family: "Avenir";
  src: url('../fonts/avenir/next/pro/AvenirNextLTPro-Medium.otf?1438755021') format('opentype');
  font-weight: 600; }
@font-face {
  font-family: "Avenir";
  src: url('../fonts/avenir/next/pro/AvenirNextLTPro-Bold.otf?1438755021') format('opentype');
  font-weight: 800; }
