/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
 
@import "../init.scss";
@import "../normalize.scss";

/*small desktop*/
@media all and (min-width: 1024px) and (max-width:1400px){
	$max-width: 1400px;
	.nav-menu{
		#main-menu{
			li{
				a{
					font-size:1em;
				}
				&:not(.logo){
					&:not(.last){
						padding-right:2%;
						&:not(.first){
							padding-left:1%;
						}					
					}
				}
				&.logo{
					padding: 0;
				}
			}
		}
	}
	.front-page{
		.header{
			min-width:690px;
		}
	}
	.homequote{
		.text{

		}
	}
	
	
	.greybg .container .left {
		.roll-social{
			clear:both;
			float:none;
			display:block;
			width:100%;
			text-align:center;
		}
		.roll-social .text{
			float:none;
		}
		.pinsider
		{
			float:none;
			display:block;
			width:100%;
		}
	}
}
@media all and (max-width: 1023px) {
	$max-width: 1023px;
	.container{
		max-width:1023px;
		padding:0 10px;
		box-sizing: border-box;
	}
	.desktop{display:none!important;}
	.mobile{display:block!important;}
	
	
	.mobile-btns{
		padding: 20px 0;
		text-align:right;
	}
    .locations {
		@include background( image-url("image-sprite.png") );
		background-repeat:no-repeat;
      	background-color:$amf-yellow;
		background-position:-582px 13px;
		padding: 12px 20px 19px;
		padding: 11px;
		font-size:0;
		display:inline-block;
		width:50px;
		float:right;
		height:52px;
		margin:0 10px;
    }
    .mobile-nav {
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 99;
    }
	.menu{
		position:relative;
		display:inline-block;
		.menu-btn {
			display:inline-block;
			padding: 11px;
			width:50px;
			border-top: 1px solid transparent;
			border-left: 1px solid transparent;
			background-color:$amf-red;
			float:right;
			span {
				display: block;
				width: 26px;
				height: 3px;
				margin: 5px 0;
				background: #fff;
				z-index: 99;
			}
		}
		.arrow{
			display:none;
		}
		&.active{
			.arrow {
				display:block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 13px 5.5px 0 5.5px;
				border-color: #ec0e28 transparent transparent transparent;
				position:absolute;
				bottom:-13px;
				left:40%;
			}
		}
		
	}
    
 
   
    .responsive-menu {
        display: none;
		position:relative;
		z-index:9999;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, .5);
        -moz-box-shadow: 2px 4px 15px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 2px 4px 15px rgba(0, 0, 0, .5);
		
		ul{
			list-style: none;
			padding: 0;
			a{
				text-transform: uppercase;
				color: #000;
				font-family: $avenir;
				font-weight: 500;
				text-decoration: none;
				li{
					font-weight:700;
					padding: 10px 20px;
					border-top: 1px solid #dcdcdc;
					background: none repeat scroll 0 0 #f5f5f5;
					&.bottom{
						text-align: left;
						color: #fff;
						background: #000;
						border-top: 1px solid #1a1a1a;
						margin-top: 0;
						font-weight: 500;
					}
					.thirsty{
						text-transform:none;
					}
				}				
				.navarrow,
				.navicon{
					@include background( image-url("image-sprite.png") );
					background-repeat:no-repeat;
					background-position: -530px -20px;
					display: inline-block;
					float: right;
					height: 14px;
					margin-right: 25px;
					margin-top: -31px;
					width: 30px;
				}
				&.yellow{
					color:#fff;
					li{
						background-color:$amf-yellow;
						border-color:$amf-yellow;
					}
					.navarrow,
					.navicon{
						background-position: -530px -10px;
						height: 14px;
						width: 30px;
					}
				}
				&.black{
					color:$grey;
					li{
						background-color:#000;
						border-top: 1px solid #000;
					}
					.navarrow,
					.navicon{
						background-position: -530px 0px;
						height: 9px;
						width: 30px;
					}
				}
			}
		}
    }
    .expand {
        display: block !important;
    }
	.front-page{
		.header{
			width:100%;
			.location-form{
				.form-inputs{
					.left,
					.use-loc{
						width:100%;
					}
					.or{
						float:none;
						text-align:center;
					}
				}
			}
		}
	}
	
	.homequote{
		.text{
			line-height: 1.2;
			padding: 95px 50px;
			background-image:none;
		}
	}
	
	
.greybg{
	.container{
		text-align:center;
		.left{
			.pin-logo{
				display:block;
				float:none;
			}
			.pinform{
				width:100%;
				display:block;
				height: 95px;
				.text,
				form{
					display:block;
					float:none;
					width:100%;					
				}
				form{
					margin:auto;
					margin: 10px auto auto;
					input[type="text"]{
						width:65%;
						padding:12px;
						font-size:14px;
					}
					input[type="submit"]{
						width:27%;
						padding:9.5px;
						
					}
				}
				.text{
					text-align:left;
				}
			}
			.roll-social{
				width:100%;
				float:none;
				display:block;
				margin-top:0px;
				clear:both;
				.text{
					width:100%;
					float:none;
					display:block;
					font-size:24px;
				}
				.icons{
					float:none;
					display:inline-block;		
				}
			}
		}
	}
}
	
	
	
	
	
.footer{
	.top{
		.viewall{
			display:block;
			padding:20px 0;
			color:$grey;
			text-transform:uppercase;
			text-decoration:none;
		}
		nav{
			display:none;
			height:auto;
		}
		&.active{
			nav{
				display:block;
			}
		}
		.right{
			text-align:left;
		}
		.left, .right{
			width:100%;
			border:none;
			ul{
				li{
					margin:0;
					width:100%;
					padding:10px 0 0 0;
					border-bottom:1px solid rgba(255, 255, 255, 0.15);
					a{
						display:inline-block;
						width:90%;
					}
					span{
						content:'';
						@include background( image-url("image-sprite.png") );
						background-repeat:no-repeat;
						background-position: -530px 0px;
						height:9px;
						width:25px;
						display:inline-block;
					}
					&:after{
						background:none;
					}
				}
			}
		}
	}
	.bottom{
		text-align:center;
		.left{
			display:block;
			width:100%;
			ul{
				a{
					height:auto;
					&:first-child{
						display:block;
					}
				}
			}
		}
		.right{
			margin-top:10px;
			display:block;
			width:100%;
			text-align:center;
		}
	}
}



}
@media all and (max-width: 480px) {
	.homequote{
		.text{
			padding: 50px;
		}
	}
}
	